VITE_API_BASE_URL=https://theft-backend.vercel.app
VITE_MQTT_BROKER=30855871514d47bb8a01912f2f20e51f.s1.eu.hivemq.cloud
VITE_MQTT_PORT=8884
VITE_MQTT_PATH=/mqtt
VITE_MQTT_USERNAME=theft
VITE_MQTT_PASSWORD=Test@12345
